.p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration {
    top: 130px;
    margin-bottom: 150px;
    border-radius: 20px;
    min-height: 1000px;
}

.registration input{
    border-radius: 8px;
    margin: 5px;
    text-align: center;
}
.registration button {
    border-radius: 13px;
}

.registration label {
    margin-left: 30px;
}

.signin, .signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup div{
    width: 500px;
}