asgiref==3.7.2
certifi==2023.7.22
Pillow==10.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
Django==4.2.5
django-appconf==1.0.5
django-clearcache==1.2.1
django-embed-video==1.4.9
django-imagekit==4.1.0
idna==3.4
pilkit==2.0
Pillow==10.0.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
